.floor_button {
    font-size: 20px;
    width: 200px;
    padding: 10px 32px;
    background-color: #5C2B16;
    margin: 2px;
    color: white;
    height: 100%;
    border-color: white;
}

.main-category {
    font-size: 20px;
    width: 250px;
    padding: 10px 32px;
    background-color: #5C2B16;
    margin: 2px;
    color: white;
    height: 100%;
    border-color: white;
}

.table_btn {
    font-size: 24px;
    width: 100%;
    padding: 20px 32px;
    background-color: #2a66a3;
    margin: 10px;
    color: white;
}


.main_category_btn {
    width: 100%;
    background-color: #5C2B16;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.category_btn {
    font-size: 20px;
    width: 100%;
    min-width: 100%;
    padding: 18px 32px;
    background-color: #5C2B16;
    color: white;
}


.meal_btn {
    width: 100%;
    height: 110px;
    background-color: #5C2B16;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding-right: 3px;
    padding-left: 3px;
}


.category_title {
    font-size: 25px;
    color: black;
}